@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(~/img/background-homepage.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

/* Navigation */
.navbar ul {
    display: flex;
    align-items: center;
}
   
.navbar ul li {
    display: inline-block;
    padding: 16px;
}

.navbar ul li a {
    font-size: 100%;
    text-decoration: none;
    color: black;
}

.navbar p {
    font-weight: bold;
}

.navbar button {
    font-size: 100%;
    font-weight: bold;
    color: red;
}

.navbar ul li button {
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    border: 0;
    font-size: 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }

.navbar .active {
    color: #000;
    font-weight: bold;
}

.navbar .push {
    margin-left: auto;
}

.navbar h1 {
    margin: 10px;
    font-size: 35px;
}

@media only screen and (max-width: 600px){
    .none-nav {
        display: none;
    }
}

/* Sign in or Login Page */
.container-main {
    margin-top: 50px;
}

.card-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 70%;
    height: 500px;
    margin: 0 auto;
    border-radius: 50px;
}

.tittle-login {
    text-align: center;
}

.tittle-login h1 {
    font-weight: bolder;
    color: #000000;
    padding-bottom: 30px;
    margin-top: 30px;
}

/* blur desain */

.blurr {
    position: absolute;
    width: 433px;
    height: 405px;
    left: 1091px;
    top: -9px;
    background: rgba(171, 129, 222, 0.35);
    filter: blur(150px);
}

/* blur desain */

.card-main .btn-back {
    position: absolute;
    width: 200%;
    height: 20px;
    left: 240px;
    bottom: 630px;
    font-size: 35px;
}

.card-main .left {
    float: left;
    width: 35%;
    height: 500px;
    background: rgba(171, 129, 222, 0.49);
    border: 2px solid #FFFFFF;
    border-radius: 50px 0px 0px 50px;
    background-image: url(~/img/ibuanak-img.png);
    background-position: right -50px top 2px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-main .btn-back a {
    color: #000000;
}


.card-main .right {
    float: right;
    width: 65%;
    box-sizing: border-box;
    font-size: 15px;
}

.formbox .form .button-login, .formbox .form input {
    border: 0;
    width: 100%;
    height: 60px;
    background: transparent;
    font-size: 16px;
    outline: none;
}

.formbox .form {
    margin: 0;
    display: grid;
    gap: 16px;
    margin-left: 60px;
    margin-right: 40px;
}

.textbox-login {
    position: relative;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.textbox-login span {
    position: absolute;
    top: 54%;
    translate: 0 -50%;
    left: 2%;
    font-size: 22px;
    pointer-events: none;
    color: rgb(255, 255, 255/96%);
}



.textbox-login input {
    padding: 0 24px 0 36px;
    border-bottom: 20x solid #2b3442;
    color: rgb(255, 255, 255/96%);
    height: 72px;
}


input:focus {
    border-color: rgb(107, 61, 163);
}

:is(input:focus, input:valid) ~ span {
    color: rgb(255, 255, 255/96%);
}

.textbox-login label {
    position: absolute;
    top: 50%;
    left: 40px;
    translate: 0 -50%;
    color: rgb(255, 255, 255/40%);
    pointer-events: none;
    transition: 0.4s;
}

:is(input:focus, input:valid) ~ label {
    translate: -40px -40px;
    scale: 0.875;
}

input:focus ~  label {
    color: rgb(70, 32, 117);
}

.formbox .form .button-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 6px;
    background: linear-gradient(90.51deg, rgba(171, 129, 222, 0.7) 2.2%, #EE8FE4 87.81%);
    color: #f9f9f9;
    border: 0;
    font-weight: 600;
}

.form #forgot{
    text-align: right;
    padding-right: 10px;
    font-size: 13px;
}

.form p {
    font-weight: bolder;
}

.formbox .form .reg-form {
    position: absolute;
    margin-top: 260px;
}

@media only screen and (max-width: 600px){
    .card-main .btn-back {
        left: 70px;
        bottom: 740px;
    }

    .card-main .left {
        height: 500px;
        background: rgb(255, 255, 255);
        border-radius: 50px 0px 0px 50px;
    }
    .card-main .right {
        float: left;
        width: 50%;
        height: 400px;
        box-sizing: border-box;
    }

    .formbox {
        padding-right: 10px;
    }

    .reset-position {
        position: relative;
        margin-top: 100px;
        bottom: -10px;
    }

    .tittle-login h1 {
        position: absolute;
        left: 100px;
        right: 100px;
    }

    .textbox-login {
        position: relative;
        margin-bottom: 2px;
        margin-left: 42px;
        padding-left: 32px;
        width: 78%;
    }
    
    .formbox .form {
        position: absolute;
        display: grid;
        margin-left: 40px;
        padding-top: 90px;
        right: 40px;
        font-size: 14px;
    }

    .textbox-login input {
        padding: 0;
    }

    .formbox .form .button-login {
        position: absolute;
        margin-top: 280px;
        width: 78%;
        right: 30px;
        font-size: 14px;
    }

    .formbox .form .reg-form {
        position: absolute;
        margin-top: 350px;
        margin-left: 40px;
    }
}

/* Sign up or Register Page */
.container-main {
    margin-top: 50px;
}

.card-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 70%;
    height: 500px;
    margin: 0 auto;
    border-radius: 50px;
}

.tittle-register {
    text-align: center;
}

.tittle-register h1 {
    font-weight: bolder;
    color: #000000;
    margin-top: 30px;
    font-size: 25px;
}

.tittle-register h4 {
    color: #787878;
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 70px;
}

/* blur desain */

.blurr {
    position: absolute;
    width: 433px;
    height: 405px;
    left: 1091px;
    top: -9px;
    background: rgba(171, 129, 222, 0.35);
    filter: blur(150px);
}

/* blur desain */

.card-main .btn-back {
    position: absolute;
    width: 200%;
    height: 20px;
    left: 240px;
    bottom: 630px;
    font-size: 35px;
}

.card-main .btn-back a {
    color: #000000;
}

.card-main .left {
    float: left;
    width: 35%;
    height: 500px;
    background: rgba(171, 129, 222, 0.49);
    border: 2px solid #FFFFFF;
    border-radius: 50px 0px 0px 50px;
    background-image: url(~/img/ibuanak-img.png);
    background-position: right -50px top 2px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-main .right {
    float: right;
    width: 65%;
    box-sizing: border-box;
    font-size: 15px;
}

.formbox .form .button-register, .formbox .form input {
    border: 0;
    width: 98%;
    height: 60px;
    background: transparent;
    font-size: 16px;
    outline: none;
    margin-left: 10px;
}

.formbox .form {
    margin: 0;
    display: grid;
    gap: 18px;
    margin-left: 60px;
    margin-right: 40px;
}

.textbox-register {
    position: relative;
    margin-bottom: 2px;
    margin-left: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 0 20px;
    height: 90%;
}

.textbox-register span {
    position: absolute;
    top: 54%;
    translate: 0 -50%;
    left: 2%;
    font-size: 18px;
    pointer-events: none;
    color: rgb(255, 255, 255/96%);
}

.textbox-register input {
    padding: 20px 24px 18px 20px;
    border-bottom: 20x solid #2b3442;
    color: rgb(255, 255, 255/96%);
    height: 72px;
}

input:focus {
    border-color: rgb(107, 61, 163);
}

:is(input:focus, input:valid) ~ span {
    color: rgb(255, 255, 255/96%);
}

.textbox-register label {
    position: absolute;
    top: 50%;
    left: 40px;
    translate: 0 -50%;
    color: rgb(255, 255, 255/40%);
    pointer-events: none;
    transition: 0.4s;
    font-size: 14px;
}

:is(input:focus, input:valid) ~ label {
    translate: -40px -40px;
    scale: 0.875;
}

input:focus ~  label {
    color: rgb(70, 32, 117);
}

.formbox .form .button-register {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 6px;
    background: linear-gradient(90.51deg, rgba(171, 129, 222, 0.7) 2.2%, #EE8FE4 87.81%);
    color: #f9f9f9;
    border: 0;
    font-weight: 600;
    height: 50px;
}

.formbox .form .log-form {
    text-align: left;
    margin-left: 12px;
}

.form #forgot a {
    float: right;
    font-size: 13px;
}

.form p {
    font-weight: bolder;
    font-size: 14px;
}

@media only screen and (max-width: 600px){
    .card-main .btn-back {
        left: 70px;
        bottom: 740px;
        font-size: 30px;
    }

    .card-main .left {
        width: 0%;
        height: 500px;
        background: rgb(255, 255, 255);
        border-radius: 50px 0px 0px 50px;
    }
    .card-main .right {
        float: left;
        width: 100%;
        height: 400px;
        box-sizing: border-box;
    }

    .formbox {
        padding-right: 10px;
    }

    .tittle-register h1 {
        position: absolute;
        left: 100px;
        right: 100px;
        top: 140px;
        font-size: 22px;
    }

    .tittle-register h4 {
        margin-top: 10px;
        font-size: 14px;
    }

    .textbox-register {
        position: relative;
        margin-bottom: 2px;
        margin-left: 50px;
        padding-left: 32px;
        bottom: 120px;
        width: 72%;
    }
    
    .formbox .form {
        position: absolute;
        display: grid;
        margin-left: 40px;
        right: 10px;
        font-size: 14px;
    }

    .textbox-register input {
        position: relative;
        padding: 0;
    }

    .formbox .form .button-register {
        position: absolute;
        margin-top: 200px;
        width: 72%;
        margin-left: 50px;
        font-size: 14px;
    }

    .formbox .form .log-form {
        position: absolute;
        margin-top: 260px;
        margin-left: 50px;
        font-size: 13px;
    }

    .form #forgot a {
        margin-right: 20px;
    }
}

/* Learn Alphabet */
.alphabet-container {
    text-align: center;
}

.alphabet-container h1,h3{
    margin-top: 2%;
}

.alphabet-container__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.alphabet-container button {
    cursor: pointer;
    width: 150px;
    margin: 10px;
    background: linear-gradient(90.51deg, rgba(171, 129, 222, 0.7) 2.2%, #EE8FE4 87.81%);
    color: #f9f9f9;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 0;
    font-weight: 600;
    height: 60px;
    border-radius: 6px;
}

/* BabyFinderName */
.baby-name-finder-container h1{
    text-align: center;
    font-size: 35px;
}

.baby-name-finder-container h3{
    margin-top: 2%;
    text-align: center;
}

.baby-name-finder-category__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.baby-name-finder-container button {
    cursor: pointer;
    border: 0;
    background: transparent;
}

.baby-name-finder-container button:focus {
    color: rgb(231, 127, 214);
}

.baby-name-finder__icon-male {
    color: blue;
    font-size: 50px;
}

.baby-name-finder__icon-female {
    color: red;
    font-size: 50px;
}

.baby-name-finder__icon-unisex {
    color: purple;
    font-size: 50px;
}

.baby-name-finder-category__list h3 {
    margin-top: 2%;
    text-align: center;
}

.baby-name-finder-category__list  ul {
    margin-top: 2%;
    text-align: center;
}

   
.baby-name-finder-category__list ul li {
    display: inline-block;
    padding: 16px;
}

.baby-name-finder-category__list  li {
    width: 200px;
    margin: 10px;
    margin-bottom: 18px;
    background-color: #ab81de7d;
    color: white;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    overflow: hidden;
}
